h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

.darker {
    background: #898f95;
}
.card {
    /*border-color: #898f95 !important;*/
    /*border: 1px solid #898f95 !important;*/
    border: none;
    margin-right: 5px;
}
.tab-pane:last-of-type .card {
    margin-right: 0;
}

.tab-pane, h1, h2, h3, h4, h5, h6 {
    transition: all 0.6s;
}

.subject-header {
    height: 60px;
    color: #dae0e5;
}
.f-1 {
    flex: 1;
}
.f-3 {
    flex: 3;
}

.card-header {
    height: 160px;
    /*border: none;*/
    /*border-bottom: 1px solid #898f95 !important;*/

}
.card-body a {
    text-decoration: underline;
}

.text-success-dark {
    color: #024100 !important;
}
.text-danger-dark {
    color: #860000 !important;
}
.text-info-dark {
    color: #014052 !important;
}

pre code, code {
    color: #e83e8c !important;
    font-style: italic;
    letter-spacing: 3px;
}

pre code {
    background: rgba(0,0,0,.03);
    border: 1px solid #dae0e5;
    display: inline-block;
    padding: .25em .4em;
    border-radius: .25rem;
}